# emacs turds
(.*/)?\#[^/]*\#$

## Mac OS X
.DS_Store
__MACOSX

*.orig
*.bak

# ci
build
ci-reports

# the xamarin build directory
xtc-staging

# Jetbrains
workspace.xml
find.xml
*.iml
.rakeTasks

# ruby
.irb-history
vendor
Gemfile.lock
*.gem
.ruby-version

# bundler
.bundle
.calabash-branch

# briar
.env

# cucumber
rerun
reports
screenshots
*.png
*.html

# RubyMine
.idea

# Xcode 4
*.xcodeproj/*.mode*
*.xcodeproj/*.perspective*
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
